@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 80vh;
    background-color: rgb(193, 219, 211);
    padding: 2rem;
    border-radius: 10px;
}
.container .heading{
    font-size: x-large;
    text-align: center;
}
.input-box{
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
    
}


#dob, #lucky-number, #btn-check{
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.3rem;

}
#btn-check{
    background-color: blue;
    border-radius: 40px;
}
#display-message{
    color: red;
    margin-top: 1rem;

}